body {
	font-family: helvetica, arial, sans-serif;
}

h1 {
	color: #3a241d;
	text-align: center;
}

#left-container {
	background-color: #eee;
	width: 15%;
	left: 0px;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}

#right-container {
	background-color: #eee;
	width: 15%;
	right: 0px;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}

.plant-holder{
    position: relative;
    left: -10px;
    height: 13%;
}

.plant{
    position: absolute;
    max-width: 150%;
    max-height:150%;
    z-index:2;
}

.jar-walls {
    height: 80%;
    width: 60%;
    background: #d1e1df;
    position: absolute;
    border-radius: 10%;
    bottom: 0.5%;
    left:20%;
    opacity: 0.5;
    z-index:1;
}

.jar-top{
    width: 50%;
    height: 5%;
    background: #d1e1df;
    position: absolute;
    bottom: 80.5%;
    left:25%;
    opacity: 0.7;
    z-index:1;
}

.jar-bottom{
    width:50%;
    height: 1%;
    background: #d1e1df;
    position: absolute;
    bottom: 0%;
    left: 25%;
    opacity: 0.7;
}

.dirt{
    width: 58%;
    height:5%;
    background: #3a241d;
    position: absolute;
    border-radius: 0 0 4rem 4rem;
    bottom: 1%;
    left:21%;
    opacity:0.7;
    z-index:-1;
}

.jar-glossy-short{
    width: 4%;
    height: 7%;
    background: white;
    opacity: 0.8;
    border-radius: 4rem;
    position: absolute;
    left: 6%;
    bottom: 40%;
    z-index:2;
}

.jar-glossy-long{
    width: 4%;
    height: 20%;
    background: white;
    opacity: 0.8;
    border-radius: 4rem;
    position: absolute;
    left: 6%;
    bottom: 15%;
    z-index:2;
}